.button {
    color: rgba(0, 0, 255, 0.75);
    padding: 0px;
    text-align: center;
    width: 10%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: static;
    outline: none;
    margin: 0%;
    vertical-align: top;
    display: inline-block;
}
